.orange {
    color:#F0972A;
    font-weight: bold;
}

.createAccountButton {
    background: #96BB36 !important;
    box-shadow: 0px 3px 6px #00000029;
    border: none;
}

.circle-orange {
    color: #F0972A;
    font-size: 20pt;
}



